<div style="align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex; margin-top: 5%"><h5
  class="h3 mb-2 text-gray-800 ">Registro de Empleados
  <h1 class="fas fa-user-friends"></h1>
</h5>
</div>


<p style="font-size: 20px">Búsqueda de empleados</p>
<%= form_tag(search_employees_path, :method => "get", class: 'navbar-form navbar-left') do %>
  <div class="input-group", id="searchEmployee">
    <%= search_field_tag :search, params[:search], placeholder: "Ingrese número de documento", class: "form-control col-md-4"%>
    <div class="input-group-btn">
      <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
    </div>
  </div>
<% end %>

<div style="margin-bottom: 1%; margin-top: 1%">
  <% if flash[:alert] %>
    <div class="alert-danger"><%= flash[:alert] %></div>
  <% end %>
</div>
<div style="margin-top: 5%">
  <%= link_to new_employee_path, {remote: true, class: "btn btn-info", id: "anadir-employee-btn"} do %>
    <span>Registro</span>
    <% end %>
</div>

<div class="card shadow mb-4" >
  <div class="card-body">
    <div class="table-responsive">
      <% if !@error %>
      <table id="tablaEmployees" class="table table-bordered table-responsive boder-table-t " width="90%">
        <thead>

          <tr>
            <th>Documento de Identidad</th>
            <th>Nombre</th>
            <th>Unidad Organizativa</th>
            <th>Cargo</th>
            <th>Género</th>
            <th>EPS</th>
            <th>Edad</th>
            <th>Grupo Sanguíneo</th>
            <th>Teléfono de Contacto</th>
            <th>Teléfono en Caso de Emergencia</th>
            <th>Peso</th>
            <th>Talla</th>
            <th>IMC</th>
            <th>Interpretación</th>
          </tr>
        </thead>
          <tbody>
            <% @employees.each do |emp| %>
              <tr id="employee_<%= emp.id %>">
                <td><%= emp.document_number %></td>
                <td><%= emp.name %></td>
                <td><%= emp.organizational_unit %></td>
                <td><%= emp.position %></td>
                <td><%= emp.gender.description %></td>
                <td><%= emp.eps %></td>
                <td><%= emp.age %></td>
                <td><%= emp.blood_type %></td>
                <td><%= emp.phone %></td>
                <td><%= emp.emergency_number %></td>
                <td><%= emp.weight %></td>
                <td><%= emp.size %></td>
                <td><%= emp.imc %></td>
                <td><%= emp.interpretation.description %></td>
                  <td>
                    <%= link_to "Editar", edit_employee_path(emp), html_options = {class: "btn btn-info btn-xs", remote: true}%>
                    <%= link_to "Borrar", emp, remote: true, method: :delete, data: { confirm: "¿Está seguro que quiere borrar el empleado: #{emp.name}?"}, class: "btn btn-danger btn-xs" %>
                  </td>
              </tr>
            <% end %>
          </tbody>
      </table>
        <% else %>
      <h1> El usuario no existe</h1>
      <% end %>
    </div>
  </div>
</div>

<%=render 'modal_employees' %>