<div style="align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex; margin-top: 5%"><h5
  class="h3 mb-2 text-gray-800 "> Encuesta de entrada
  <h1 class="fas fa-poll"></h1>
</h5>
</div>
<form class="form-inline" style="margin-left: 9%!important">
  <%= form_with do |inf| %>
  <div class="form-group mx-sm-3 mb-2" >
    <%= inf.text_field  :document_number, {:class => "form-control", :placeholder =>"Ingrese número de documento"} %>
  </div>
    <%= inf.submit "Buscar", :class => "button", :onclick => "alert('Encuesta de entrada guardada)"%>
  <% end %>
</form>


<!-- info de busqueda-->
<div class="card shadow mb-4" style="width: 80%; margin-left: 10%">
  <div class="card-body">

    <table id="tablaEmployees" class="table table-bordered table-responsive boder-table-t"  >
      <thead>
      <tr>
        <th> <b>Documento de Identidad </b></th>
        <th><b>Nombre</b></th>
        <th><b>Unidad Organizativa</b></th>
        <th><b>Cargo</b></th>
        <th><b>Género</b></th>
        <th><b>EPS</b></th>
        <th><b>Edad</b></th>
        <th><b>Grupo Sanguíneo</b></th>
        <th><b>Teléfono de Contacto</b></th>
      </tr>
      </thead>
      <tbody>
      <% if @employees %>
      <% @employees.each do |emp| %>
        <tr id="employee_<% emp.id %>">
          <td><%= emp.document_number %></td>
          <td><%= emp.name %></td>
          <td><%= emp.organizational_unit %></td>
          <td><%= emp.position %></td>
          <td><%= emp.gender.description %></td>
          <td><%= emp.eps %></td>
          <td><%= emp.age %></td>
          <td><%= emp.blood_type %></td>
          <td><%= emp.phone %></td>
        </tr>
      <% end %>
        <%else %>
        <h1></h1>
        <%end %>
      </tbody>
    </table>

  </div>
</div>

<div class="card shadow mb-4" style="width: 80%; margin-left: 10%">
  <div class="card-body">
    <div class="table-responsive">
      <!-- formulario encuesta entrada-->
      <form>

        <div class="form-check" style="padding: 0!important;">
          <%= form_with  do |form| %>

            <div class="form-group">
              <%= form.label :temperature_init, 'Temperatura registrada',{:style => "font-size: 21px"}%>
              <%= form.text_field  :temperature_init, {:class => "form-control", :placeholder =>"Ingrese temperatura en ºC "} %>
            </div>
            <div class="form-group">
              <%= form.label :new_temperature_init, 'Temperatura nueva registrada',{:style => "font-size: 21px"}%>
              <%= form.text_field  :new_temperature_init, {:class => "form-control", :placeholder =>"Ingrese nueva temperatura en ºC "} %>
            </div>
            <label style="align-items: center;
                align-content: center;
                flex-direction: column;
                justify-content: center;
                font-size: 21px;
                display: flex; ">Presenta los siguientes síntomas</label>
            <table id="tablaEmployees" class="table table-bordered" width="90%">
              <tr>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init"> Dolor de garganta</label>

                    <div class="table-label-int">
                       <div>
                      <%= form.label :sore_throat_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :sore_throat_init,{},"si",{:class => "form-check-init"} %>
                       </div>
                      <div>
                      <%= form.label :sore_throat_init, 'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :sore_throat_init,{},"no", :style => "width: 50px; height: 50px;" %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Congestión nasal</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :nasal_congestion_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :nasal_congestion_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :nasal_congestion_init, 'No' ,{:style => "font-size: 21px"}%>
                      <%= form.check_box :nasal_congestion_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Tos</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :cough_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :cough_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :cough_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :cough_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Dificultad para respirar</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :difficulty_breathing_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :difficulty_breathing_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :difficulty_breathing_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :difficulty_breathing_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Fatiga</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :fatigue_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :fatigue_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :fatigue_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :fatigue_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Escalofríos</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :shaking_chills_init , 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :shaking_chills_init, {},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :shaking_chills_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :shaking_chills_init ,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Dolor de músculos</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :muscle_pain_init , 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :muscle_pain_init, {},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :muscle_pain_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :muscle_pain_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Otro síntoma respiratorio </label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :another_init , 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :another_init, {},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :another_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :another_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            </table>
            <label style="align-items: center;
                align-content: center;
                flex-direction: column;
                justify-content: center;
                font-size: 21px;
                display: flex;"> Describa el síntoma</label>
            <div class="form-group">
              <%= form.text_area :respiratory_init, {:class => "form-control", :rows => "3" } %>
            </div>

            <label class="controle-exit">Se hace entrega de los siguientes elementos de bioseguridad/protección:</label>
            <table id="tablaEmployees" class="table table-bordered" width="90%">
              <tr>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit"> Tapabocas desechable</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.label :disposable_covers_init, '-',{:class => "fas fa-check-circle"}%>
                        <%= form.check_box :disposable_covers_init,{},"si",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit">Respirador</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.label :respirador_init, '-',{:class => "fas fa-check-circle"}%>
                        <%= form.check_box :respirador_init,{},"si",{:class => "form-control"} %>
                      </div>

                    </div>
                  </div>
                </th>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit">Guantes de látex</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.label :gloves_latex_init, '-' ,{:class => "fas fa-check-circle"}%>
                        <%= form.check_box :gloves_latex_init,{},"si",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit">Guantes de nitrilo</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.label :gloves_nitrilo_init, '-',{:class => "fas fa-check-circle"} %>
                        <%= form.check_box :gloves_nitrilo_init,{},"si",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit">Guantes de caucho</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.label :gloves_caucho_init, '-',{:class => "fas fa-check-circle"} %>
                        <%= form.check_box :gloves_caucho_init,{},"si",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            </table>


            <div class="form-group">
<<<<<<< HEAD
              <label > Otro elemento</label>
              <%= form.check_box :other_element_init,{},"si",{:class => "form-control"} %>
              <%= form.text_field  :other_element_init, {:class => "form-control", :placeholder =>"Describa cual? "} %>
=======
              <%= form.text_field  :other_element_init, {:class => "form-control", :placeholder =>"¿Cuál? "} %>
>>>>>>> 52c77f74d7e501659fd0237132c6d676687fcd88
            </div>
            <label > No aplica</label>
            <%= form.check_box :not_other_element_init,{},"si",{:class => "form-control"} %>
            <div class="form-group">
              <%= form.text_field  :not_other_element_init, {:class => "form-control", :placeholder =>"¿Por qué?"} %>
            </div>

            <label class="controle-exit">Verifique si al finalizar la jornada realizó las siguientes acciones:</label>
            <table id="tablaEmployees" class="table table-bordered" width="90%">
              <tr>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit"> Lavado o desinfección de manos</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.check_box :camp_a_init,{},"si",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit">Desechar los elementos de bioseguridad usados</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.check_box :camp_b_init,{},"si",{:class => "form-control"} %>
                      </div>

                    </div>
                  </div>
                </th>
                <th style="width: 21%; height: 15%">
                  <div class="form-group">
                    <label class="controle-exit">Desinfección de los elementos de protección personal permanentes</label>

                    <div class="table-label-exit">
                      <div>
                        <%= form.check_box :camp_c_init,{},"si",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>

              </tr>
            </table>

            <div class="btn btn-primary">
              <%= form.submit "Guardar", :class => "button" %>
            </div>
          <% end %>
        </div>
        <div class="form-check" style="padding: 0!important;">
        </div>
      </form>
    </div>
  </div>
</div>