<div style="align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex; margin-top: 5%"><h5
  class="h3 mb-2 text-gray-800 ">Encuesta de entrada
  <h1 class="fas fa-poll"></h1>
</h5>
</div>
<form class="form-inline" style="margin-left: 9%!important">
  <%= form_with do |inf| %>
  <div class="form-group mx-sm-3 mb-2" >
    <%= inf.text_field  :document_number, {:class => "form-control", :placeholder =>"Ingrese Cèdula"} %>
  </div>
    <%= inf.submit "Buscar", :class => "button", :onclick => "alert('Encuesta de entrada guardada)"%>
  <% end %>
</form>


<!-- info de busqueda-->
<div class="card shadow mb-4" style="width: 80%; margin-left: 10%">
  <div class="card-body">

    <table id="tablaEmployees" class="table table-bordered table-responsive boder-table-t"  >
      <thead>
      <tr>
        <th> <b>Documento de Identidad </b></th>
        <th><b>Nombre</b></th>
        <th><b>Unidad Organizativa</b></th>
        <th><b>Cargo</b></th>
        <th><b>Gènero</b></th>
        <th><b>EPS</b></th>
        <th><b>Edad</b></th>
        <th><b>Grupo Sanguìneo</b></th>
        <th><b>Telèfono de Contacto</b></th>
      </tr>
      </thead>
      <tbody>
      <% if @employees %>
      <% @employees.each do |emp| %>
        <tr id="employee_<% emp.id %>">
          <td><%= emp.document_number %></td>
          <td><%= emp.name %></td>
          <td><%= emp.organizational_unit %></td>
          <td><%= emp.position %></td>
          <td><%= emp.gender.description %></td>
          <td><%= emp.eps %></td>
          <td><%= emp.age %></td>
          <td><%= emp.blood_type %></td>
          <td><%= emp.phone %></td>
        </tr>
      <% end %>
        <%else %>
        <h1></h1>
        <%end %>
      </tbody>
    </table>

  </div>
</div>

<div class="card shadow mb-4" style="width: 80%; margin-left: 10%">
  <div class="card-body">
    <div class="table-responsive">
      <!-- formulario encuesta entrada-->
      <form>

        <div class="form-check" style="padding: 0!important;">
          <%= form_with  do |form| %>

            <div class="form-group">
              <%= form.label :temperature_init, 'Temperatura registrada',{:style => "font-size: 21px"}%>
              <%= form.text_field  :temperature_init, {:class => "form-control", :placeholder =>"Ingrese temperatura ºC "} %>
            </div>
            <div class="form-group">
              <%= form.label :new_temperature_init, 'Temperatura nueva registrada',{:style => "font-size: 21px"}%>
              <%= form.text_field  :new_temperature_init, {:class => "form-control", :placeholder =>"Ingrese nueva temperatura ºC "} %>
            </div>
            <label style="align-items: center;
                align-content: center;
                flex-direction: column;
                justify-content: center;
                font-size: 21px;
                display: flex; ">Presenta los Siguientes Sìntomas</label>
            <table id="tablaEmployees" class="table table-bordered" width="90%">
              <tr>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init"> Dolor de Garganta</label>

                    <div class="table-label-int">
                       <div>
                      <%= form.label :sore_throat_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :sore_throat_init,{},"si",{:class => "form-check-init"} %>
                       </div>
                      <div>
                      <%= form.label :sore_throat_init, 'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :sore_throat_init,{},"no", :style => "width: 50px; height: 50px;" %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Congestiòn Nasal</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :nasal_congestion_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :nasal_congestion_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :nasal_congestion_init, 'No' ,{:style => "font-size: 21px"}%>
                      <%= form.check_box :nasal_congestion_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Tos</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :cough_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :cough_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :cough_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :cough_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Dificulta para Respirar</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :difficulty_breathing_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :difficulty_breathing_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :difficulty_breathing_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :difficulty_breathing_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
              <tr>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Fatiga</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :fatigue_init, 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :fatigue_init,{},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :fatigue_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :fatigue_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Escalofrìos</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :shaking_chills_init , 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :shaking_chills_init, {},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :shaking_chills_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :shaking_chills_init ,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Dolor de Mùsculos</label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :muscle_pain_init , 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :muscle_pain_init, {},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :muscle_pain_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :muscle_pain_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
                <th style="width: 21%;">
                  <div class="form-group">
                    <label class="controle-init">Otro Sìntoma Respiratorio </label>

                    <div class="table-label-int">
                      <div>
                      <%= form.label :another_init , 'Si',{:style => "font-size: 21px"}%>
                      <%= form.check_box :another_init, {},"si",{:class => "form-control"} %>
                      </div>
                      <div>
                      <%= form.label :another_init,'No',{:style => "font-size: 21px"}%>
                      <%= form.check_box :another_init,{},"no",{:class => "form-control"} %>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            </table>
            <label style="align-items: center;
                align-content: center;
                flex-direction: column;
                justify-content: center;
                font-size: 21px;
                display: flex;"> Describa el Sìntoma</label>
            <div class="form-group">
              <%= form.text_area :respiratory, {:class => "form-control", :rows => "3" } %>
            </div>
            <div class="btn btn-primary">
              <%= form.submit "Guardar", :class => "button" %>
            </div>
          <% end %>
        </div>
        <div class="form-check" style="padding: 0!important;">
        </div>
      </form>
    </div>
  </div>
</div>