<p id="notice"><%= notice %></p>

<p>
  <strong>Sore throat init:</strong>
  <%= @init_survey.sore_throat_init %>
</p>

<p>
  <strong>Nasal congestion init:</strong>
  <%= @init_survey.nasal_congestion_init %>
</p>

<p>
  <strong>Cough init:</strong>
  <%= @init_survey.cough_init %>
</p>

<p>
  <strong>Difficulty breathing init:</strong>
  <%= @init_survey.difficulty_breathing_init %>
</p>

<p>
  <strong>Fatigue init:</strong>
  <%= @init_survey.fatigue_init %>
</p>

<p>
  <strong>Shaking chills init:</strong>
  <%= @init_survey.shaking_chills_init %>
</p>

<p>
  <strong>Muscle pain init:</strong>
  <%= @init_survey.muscle_pain_init %>
</p>

<p>
  <strong>Another init:</strong>
  <%= @init_survey.another_init %>
</p>

<p>
  <strong>Respiratory init:</strong>
  <%= @init_survey.respiratory_init %>
</p>

<p>
  <strong>Temperature init:</strong>
  <%= @init_survey.temperature_init %>
</p>

<p>
  <strong>New temperature init:</strong>
  <%= @init_survey.new_temperature_init %>
</p>

<%= link_to 'Edit', edit_init_survey_path(@init_survey) %> |
<%= link_to 'Back', init_surveys_path %>
