$('#modalExitSurveys').modal('toggle');
$('#tablaExitSurveys').append(
    '<tr id="exit_survey_<%= @exit_survey.id %>"><td><%= @exit_survey.employee.document_number %></td><td><%= @exit_survey.employee.name %></td><td><%= @exit_survey.recorded_temperature_exit %></td><td><%= @exit_survey.new_temperature_recorded_exit %></td><td><%= @exit_survey.creation_date_and_time.strftime("%d-%m-%Y %I:%M %p") %></td><td><%= link_to 'editar', edit_exit_survey_path(@exit_survey), html_options = {class: "btn btn-info btn-xs", remote: true} %><%= link_to "Borrar", @exit_survey, remote: true, method: :delete, data: { confirm: "¿Está seguro que quiere borrar el registro de: #{@exit_survey.employee.name}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
)