<div style="align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex; margin-top: 5%"><h5
  class="h3 mb-2 text-gray-800 ">Encuesta de salida
  <h1 class="fas fa-poll-h"></h1>
</h5>
</div>


<p style="font-size: 20px">Búsqueda de empleados</p>
<%= form_tag(search_exit_surveys_path, :method => "get", class: 'navbar-form navbar-left') do %>
  <div class="input-group", id="searchEmployee">
    <%= search_field_tag :search, params[:search], placeholder: "Ingrese número de documento", class: "form-control col-md-4"%>
    <div class="input-group-btn">
      <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
    </div>
  </div>
<% end %>

<div style="margin-top: 5%;  margin-left: 10%">
  <%= link_to new_exit_survey_path, {remote: true, class: "btn btn-info", id: "anadir-exit_survey-btn"} do %>
    <span>Nueva encuesta</span>
  <% end %>
</div>
<br>
<div class="card shadow mb-4" style="width: 80%; margin-left: 10%" >
  <div class="card-body">
    <div class="table-responsive">
      <table id="tablaExitSurveys" class="table table-bordered table-responsive boder-table-t" width="90%">
        <thead>
        <tr>
          <th>Documento de Identidad</th>
          <th>Nombre</th>
          <th>Tempera Registrada</th>
          <th>Temperatura Nueva Registrada</th>
          <th>Fecha y hora de creación</th>
        </tr>
        </thead>
        <tbody>

        <% @exit_surveys.each do |exit| %>
          <tr id="exit_survey_<%= exit.id %>">
            <td><%= exit.employee&.document_number %></td>
            <td><%= exit.employee&.name %></td>
            <td><%= exit.recorded_temperature_exit %></td>
            <td><%= exit.new_temperature_recorded_exit%></td>
            <td><%= exit.creation_date_and_time.strftime("%d-%m-%Y %I:%M %p") %></td>
            <td>
              <%= link_to "Editar", edit_exit_survey_path(exit), html_options = {class: "btn btn-info btn-xs", remote: true}%>
              <%= link_to "Borrar", exit, remote: true, method: :delete, data: { confirm: "¿Está seguro que quiere borrar el registro de: #{exit.employee&.name}?"}, class: "btn btn-danger btn-xs" %>
            </td>
          </tr>
        <% end %>


        </tbody>
      </table>
    </div>
  </div>
</div>

<%=render 'modal_exit_surveys' %>
