 <div style="align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex; margin-top: 5%"><h5
  class="h3 mb-2 text-gray-800 ">Encuesta de entrada
  <h1 class="fas fa-poll"></h1>
</h5>
</div>

<p style="font-size: 20px">Búsqueda de empleados</p>
<%= form_tag(search_entrance_surveys_path, :method => "get", class: 'navbar-form navbar-left') do %>
  <div class="input-group", id="searchEmployee">
    <%= search_field_tag :search, params[:search], placeholder: "Ingrese número de documento", class: "form-control col-md-4"%>
    <div class="input-group-btn">
      <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
    </div>
  </div>
<% end %>

 <div style="margin-bottom: 1%; margin-top: 2%">
   <% if flash[:success] %>
     <div class="alert-success"><%= flash[:success] %></div>
   <% end %>
 </div>

<div style="margin-top: 5%;  margin-left: 10%">
  <%= link_to new_entrance_survey_path, {remote: true, class: "btn btn-info", id: "anadir-entrance_survey-btn"} do %>
    <span>Nueva encuesta</span>
  <% end %>
</div>

  <br>
<div class="card shadow mb-4" style="width: 80%; margin-left: 10%" >
  <div class="card-body">
    <div class="table-responsive">
      <table id="tablaEntranceSurveys" class="table table-bordered table-responsive boder-table-t" width="90%">
        <thead>
        <tr>
          <th>Documento de Identidad</th>
          <th>Nombre</th>
          <th>Tempera Registrada</th>
          <th>Temperatura Nueva Registrada</th>
          <th>Fecha de entrada</th>
          <th>Hora de entrada</th>
        </tr>
        </thead>
        <tbody>


          <% @entrance_surveys.each do |entrance| %>
            <tr id="entrance_survey_<%= entrance.id %>">
              <td><%= entrance.employee&.document_number %></td>
              <td><%= entrance.employee&.name %></td>
              <td><%= entrance.recorded_temperature %></td>
              <td><%= entrance.new_temperature_recorded %></td>
              <td><%= entrance.date%></td>
              <td><%= entrance.hour%></td>
              <td>
                <%= link_to "Editar", edit_entrance_survey_path(entrance), html_options = {class: "btn btn-info btn-xs", remote: true}%>
                <%= link_to "Borrar", entrance, remote: true, method: :delete, data: { confirm: "¿Está seguro que quiere borrar el registro de: #{entrance.employee&.name}?"}, class: "btn btn-danger btn-xs" %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>

  <ul class="pagination justify-content-end">
    <li class="disablesd"> <%= will_paginate(@entrance_surveys,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0, list_classes: %w(pagination justify-content-end) )%></li>
  </ul>

  <div>
    <span class="pull-right"><%= page_entries_info(@entrance_surveys) %></span>
  </div>

</div>

<%=render 'modal_entrance_surveys' %>
