<!DOCTYPE html>
<html>
<head>
  <title>AppCodHr</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '' %>
</head>

<body id="page-top">
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-virus"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Covid_19</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-home"></i>
        <span>Inico</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      IHR INTERACTIVE
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">

      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-user"></i>
        <span>Empleados</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/employees">Registro Empleados</a>

        </div>
      </div>
    </li>

    <!-- Naw ecuesta entrad-->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEncuesta" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-poll-h"></i>
        <span>Encuestas de Entrada</span>
      </a>
      <div id="collapseEncuesta" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/surveys_history">Encuesta de Entrada</a>
        </div>
      </div>
    </li>
    <!-- Naw ecuesta salida-->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEncuestaS" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-poll-h"></i>
        <span>Encuestas de  Salida</span>
      </a>
      <div id="collapseEncuestaS" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/surveys_history">Encuesta de Salida</a>
        </div>
      </div>
    </li>
    <!-- Naw table report -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa fa-clipboard"></i>
        <span>Reportes</span>
      </a>
      <div id="collapseReport" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="utilities-color.html">Reporte de Empelados</a>
        </div>
      </div>
    </li>


  </ul>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!--continually changes with yield -->
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>